/* FAILED PAGE CSS */

.failedBackground {
  height: 90vh; /* Consistent height across all views */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 10px; /* Add some padding for smaller screens */
}

.failedBackground::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/constructionbackground.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

.failed {
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  border-radius: 20px;
}

.failed h1 {
  color: #37474f;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.failed h2 {
  color: #333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.failed a {
  background-color: #ffcc00;
  color: black;
  border: none;
  padding: 15px;
  border-radius: 5px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.failed a:hover {
  background-color: #e6b800;
}

/* Media Queries for Mobile Views */
@media (max-width: 768px) {
  .failed {
    width: 90%; /* Adjust the width for smaller screens */
    padding: 20px; /* Reduce padding */
  }

  .failedBackground {
    margin-top: 5vh; /* Reduce top margin for mobile */
    margin-bottom: 5vh; /* Reduce bottom margin for mobile */
    height: 90vh; /* Keep height consistent */
  }

  .failed h1,
  .failed h2 {
    font-size: 24px; /* Adjust font size for headers */
    margin-top: 10px; /* Reduce margin for smaller screens */
    margin-bottom: 20px; /* Reduce margin for smaller screens */
  }

  .failed a {
    padding: 12px; /* Adjust padding for buttons */
    font-size: 14px; /* Adjust font size for buttons */
    height: auto; /* Remove fixed height for flexibility */
  }
}

@media (max-width: 480px) {
  .failed {
    width: 95%; /* Further reduce the width for very small screens */
    padding: 15px; /* Reduce padding more */
  }

  .failedBackground {
    margin-top: 5vh; /* Reduce top margin for smaller screens */
    margin-bottom: 5vh; /* Reduce bottom margin for smaller screens */
    height: 90vh; /* Keep height consistent */
  }

  .failed h1,
  .failed h2 {
    font-size: 20px; /* Adjust font size for headers */
  }

  .failed a {
    padding: 10px; /* Further reduce padding for buttons */
    font-size: 12px; /* Adjust font size for buttons */
  }
}
