/* HOME CSS */
body {
  background: #f7f7f7;
  margin: 0;
  width: 100%;
  background-color: #37474f;
}

html {
  scroll-behavior: smooth;
}

.herocontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/constructionbackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
}

.herodiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.heroheading {
  color: #2f2f2f;
  font-size: 50px; /* Match the card heading size */
  margin: 0;
  text-align: center;
}

.introheading,
.cardheading,
.bookingheading,
.locationheading,
.cscsheading {
  color: #ffcc00;
  font-size: 50px; /* Uniform heading size across sections */
  margin: 0;
  text-align: center;
}

.herotext {
  color: #2f2f2f;
  text-align: center;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 90%;
}
.introtext {
  color: #ffffff;
  text-align: center;
  font-size: 18px; /* Uniform body text size across sections */
  margin-top: 60px;
  margin-bottom: 60px;
  width: 70%;
}

.cardtext,
.bookingtext,
.cscstext {
  color: #ffffff;
  text-align: center;
  font-size: 18px; /* Uniform body text size across sections */
  margin-top: 60px;
  margin-bottom: 60px;
  width: 90%;
}

.heroimage {
  max-width: 500px;
  height: auto;
  border-radius: 20px;
}

.cscsbutton {
  background-color: #ffcc00;
  width: 240px;
  height: 35px;
  color: black;
  border-radius: 15px;
  font-size: 13px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.herobutton {
  background-color: #2f2f2f;
  width: 110px;
  height: 35px;
  color: #ffcc00;
  border-radius: 15px;
  font-size: 13px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  cursor: pointer;
}

.introcontainer {
  display: flex;
  flex-direction: column;
  background-color: #37474f;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  text-align: center;
}

.introimage {
  max-width: 70%;
  height: auto;
  border-radius: 20px;
}

.cardcontainer {
  display: flex;
  background-color: #37474f;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}

.carddiv1,
.carddiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
  text-align: center;
}

.bookingcontainer {
  background-color: #263238;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}

.herobutton:hover {
  background-color: #1e1e1e; /* Slightly darker color on hover */
}

.bookingdiv2,
.bookingdiv1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
}

.bookingdiv1 {
  flex-direction: column;
}

.bookingimage {
  max-width: 70%;
  height: auto;
  border-radius: 20px;
}

.locationcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #37474f;
  overflow: auto;
}

.location {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* Green CSCS Card Section */
.cscscontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #263238;
  overflow: auto;
  padding: 50px 0;
}

.cscsdiv1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
}
.cscsdiv2 {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
}

.cscsdiv1 {
  flex-direction: column;
}

.cscsimage {
  max-width: 70%;
  height: auto;
  border-radius: 20px;
}

/* Responsive Home Sections */
* {
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .heroheading,
  .introheading,
  .cardheading,
  .bookingheading,
  .locationheading,
  .cscsheading {
    font-size: 44px; /* Larger heading size for medium screens */
  }

  .herotext,
  .introtext,
  .cardtext,
  .bookingtext,
  .cscstext {
    font-size: 15px; /* Larger text size for medium screens */
  }

  .herocontainer {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .introcontainer,
  .bookingcontainer,
  .cscscontainer {
    flex-direction: column;
    padding: 50px;
  }

  .introdiv1,
  .introdiv2,
  .bookingdiv1,
  .bookingdiv2,
  .cscsdiv1,
  .cscsdiv2 {
    width: 100%;
    margin: 0;
  }

  .introimage,
  .bookingimage,
  .cscsimage {
    width: 60%;
    height: auto;
  }

  .location {
    height: auto;
  }

  .cscscontainer {
    flex-direction: column;
    align-items: center;
  }
  .cardcontainer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .carddiv1,
  .carddiv2 {
    width: 80%;
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  .heroheading,
  .introheading,
  .cardheading,
  .bookingheading,
  .locationheading,
  .cscsheading {
    font-size: 36px; /* Larger heading size for small screens */
  }

  .herotext,
  .introtext,
  .cardtext,
  .bookingtext,
  .cscstext {
    font-size: 15px; /* Larger text size for small screens */
  }

  .cscscontainer {
    flex-direction: column; /* Reverse the order of image and text */
  }

  .herodiv {
    width: 100%;
    text-align: center;
  }

  .herobutton {
    margin-bottom: 250px;
  }

  .location {
    height: auto;
  }
}

@media (max-width: 576px) {
  .heroheading {
    font-size: 42px;
    margin-top: 50px;
  }

  .introheading,
  .cardheading,
  .bookingheading,
  .locationheading,
  .cscsheading {
    font-size: 28px; /* Larger heading size for extra small screens */
  }

  .herotext,
  .introtext,
  .cardtext,
  .bookingtext,
  .cscstext {
    font-size: 15px; /* Larger text size for extra small screens */
  }

  .herocontainer {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .herodiv {
    width: 70%;
  }

  .herotext {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cardtext,
  .bookingtext,
  .cscstext {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
